.row_wrapper{
    margin-left: 5vw;
    margin-bottom: 10px;
    z-index: 3;
    color: #fff;
}
.row_title{
    font-size: 1.4vw;
    letter-spacing: .7px;
    margin-bottom: 10px;
    font-weight: bold;
    z-index: 3;
}
.row_card{
    display: flex;
    align-items: center;
    height: 165px;
    overflow: scroll;
    color: #fff;
}
.row_card::-webkit-scrollbar{
    display: none;
}